<div class="cuerpo">

    <div class="principal">
        <div class="titulo">
            <h1>Nombre Restaurante</h1>
            <div class="lineas">
                <div class="circulo"></div>
                <div class="linea"></div>
                <div class="circulo"></div>
                <div class="circulo"></div>
                <div class="circulo"></div>
                <div class="linea"></div>
                <div class="circulo"></div>
            </div>
        </div>
        <article>
            <div class="subtitulo">

                <h2>Entrada</h2>
                <div class="lineas">
                    <div class="linea"></div>
                    <div class="circulo"></div>
                    <div class="linea"></div>
                </div>
            </div>
            <section class="section2">

                <div class="contenido">
                    <div class="plato">
                        <h3>Ensalada de lechuga</h3>
                    </div>
                    <div class="ingrediente">
                        <p>Ensalada de lechuga con toamte</p>
                    </div>
                </div>
                <div class="imagen">
                    <img src="assets/pension/ensalada.webp" alt="">
                </div>

            </section>
        </article>

        <article>
            <div class="subtitulo">

                <h2>Sopa</h2>
                <div class="lineas">
                    <div class="linea"></div>
                    <div class="circulo"></div>
                    <div class="linea"></div>
                </div>
            </div>
            <section class="section">
                <div class="imagen">
                    <img src="assets/pension/sopa.webp" alt="">
                </div>
                <div class="contenido">
                    <div class="plato">
                        <h3>Sopa de Pollo</h3>
                    </div>
                    <div class="ingrediente">
                        <p>Sopa de pollo con fideo</p>
                    </div>
                </div>

            </section>
        </article>

        <article>
            <div class="subtitulo">

                <h2>Segundo</h2>
                <div class="lineas">
                    <div class="linea"></div>
                    <div class="circulo"></div>
                    <div class="linea"></div>
                </div>
            </div>
            <section class="section2">

                <div class="contenido">
                    <div class="plato">
                        <h3>Plato Paceño</h3>
                    </div>
                    <div class="ingrediente">
                        <p>Sopa de pollo con fideo</p>
                    </div>
                </div>
                <div class="imagen">
                    <img src="assets/pension/segundo.webp" alt="">
                </div>

            </section>
        </article>
        <article>
            <div class="subtitulo">

                <h2>Postre</h2>
                <div class="lineas">
                    <div class="linea"></div>
                    <div class="circulo"></div>
                    <div class="linea"></div>
                </div>
            </div>
            <section class="section">
                <div class="imagen">
                    <img src="assets/pension/postre.webp" alt="">
                </div>
                <div class="contenido">
                    <div class="plato">
                        <h3>Flan</h3>
                    </div>
                    <div class="ingrediente">
                        <p>Flan de manzana</p>
                    </div>
                </div>

            </section>

        </article>

        <article class="precioArticulo">
            <div class="precio">
                <p>50 </p>bs
            </div>
        </article>


    </div>
</div>