<div class="cuerpo">

    <div class="banner">
        <img src="assets/pension/fondo1.webp" alt="">
        <div class="titulo">
            <h1>Nombre Restaurante</h1>
        </div>
        

    </div>
    <article>
        <section>
            <div class="imagen">
                <img src="assets/pension/ensalada.webp" alt="">
            </div>
            <div class="contenido">
                <div class="titulo">
                    <h2>Entrada</h2>
                    <div class="lineas">
                        <div class="linea"></div>
                        <div class="circulo"></div>
                        <div class="linea"></div>
                    </div>
                </div>
                <div class="descripcion">
                    <ul>
                        <li><h4>Ensalda de palta</h4></li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <div class="imagen">
                <img src="assets/pension/sopa.webp" alt="">
            </div>
            <div class="contenido">
                <div class="titulo">
                    <h2>Sopa</h2>
                    <div class="lineas">
                        <div class="linea"></div>
                        <div class="circulo"></div>
                        <div class="linea"></div>
                    </div>
                </div>
                <div class="descripcion">
                    <ul>
                        <li><h4>Sopa de mani</h4></li>
                        <li><h4>Sopa de fideo</h4></li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <div class="imagen">
                <img src="assets/pension/segundo.webp" alt="">
            </div>
            <div class="contenido">
                <div class="titulo">
                    <h2>Segundo</h2>
                    <div class="lineas">
                        <div class="linea"></div>
                        <div class="circulo"></div>
                        <div class="linea"></div>
                    </div>
                </div>
                <div class="descripcion">
                    <ul>
                        <li><h4>Aji de fideo</h4></li>
                        <li><h4>Majadito</h4></li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <div class="imagen">
                <img src="assets/pension/postre.webp" alt="">
            </div>
            <div class="contenido">
                <div class="titulo">
                    <h2>Postre</h2>
                    <div class="lineas">
                        <div class="linea"></div>
                        <div class="circulo"></div>
                        <div class="linea"></div>
                    </div>
                </div>
                <div class="descripcion">
                    <ul>
                        <li><h4>Gelatina</h4></li>
                        <li><h4>Platano</h4></li>
                    </ul>
                </div>
            </div>
        </section>
    </article>
</div>