<div class="cuerpo">
    <section>
        <div class="tituloSec">
            <h2>Opcion Seccion 2</h2>
        </div>
        <div class="contenido">
            <div class="plato">
                <div class="foto">
                    <img src="../assets/pension/ensalada.webp" alt="">
                </div>
                <article>
                    <div class="titulo">
                        <h3>Titulo</h3>
                    </div>
                    <div class="descripcion">
                        <p>Deléitate con nuestro exquisito Pollo al Curry, una combinación perfecta de trozos tiernos
                            de pechuga de pollo marinados en una mezcla de especias aromáticas, cocidos a fuego lento en
                            una cremosa salsa de curry. </p>
                    </div>
                </article>
                <div class="precio">
                    50bs
                </div>
            </div>
            <div class="plato">
                <div class="foto">
                    <img src="../assets/pension/ensalada.webp" alt="">
                </div>
                <article>
                    <div class="titulo">
                        <h3>Titulo</h3>
                    </div>
                    <div class="descripcion">
                        <p>Deléitate con nuestro exquisito Pollo al Curry, una combinación perfecta de trozos tiernos
                            de pechuga de pollo marinados en una mezcla de especias aromáticas, cocidos a fuego lento en
                            una cremosa salsa de curry. </p>
                    </div>
                </article>
                <div class="precio">
                    50bs
                </div>
            </div>
            <div class="plato">
                <div class="foto">
                    <img src="../assets/pension/ensalada.webp" alt="">
                </div>
                <article>
                    <div class="titulo">
                        <h3>Titulo</h3>
                    </div>
                    <div class="descripcion">
                        <p>Deléitate con nuestro exquisito Pollo al Curry, una combinación perfecta de trozos tiernos
                            de pechuga de pollo marinados en una mezcla de especias aromáticas, cocidos a fuego lento en
                            una cremosa salsa de curry. </p>
                    </div>
                </article>
                <div class="precio">
                    50bs
                </div>
            </div>
            
        </div>
    </section>
</div>